/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 92vh;
}
#info{
  height: 8vh;
  background-color: Sienna;
  font-size: 25px;
  padding:14px;
}
#info  div{
  display: inline-block;
}
#info  .icon{
  color: #fff;
}
#attraction{
  width:224px
}
